

<h6 class="contact-info">Contact Information</h6>
<input
  class="email"
  type="text"
  [formControl]="emailControl"
  placeholder="Enter Email Address"
  id="emailField"
/>

<div class="shipping-address">
  <label class="shipping-label">Shipping Address:</label>
</div>

<select
  class="country-dropdown"
  [(ngModel)]="country"
  required
  
>
  <!-- Dropdown menu for countries goes here -->
  <option value="">Region or Country</option>
  <option value="US">United States</option>
</select>

<div class="name">
  <input
    class="fname"
    type="text"
    placeholder="First Name"
    [(ngModel)]="firstName"
    required
  />

  <input
    class="lname"
    type="text"
    placeholder="Last Name"
    [(ngModel)]="lastName"
    required
  />
</div>
<input
  class="address"
  type="text"
  placeholder="Address"
  [(ngModel)]="address"
  required
  id="addyfield"
/>

<input
  class="etc"
  type="text"
  placeholder="Apartment, Suite, etc. (optional)"
  [(ngModel)]="etc"
/>

<div class="city-state-zip">
  <input
    class="city"
    type="text"
    placeholder="City"
    [(ngModel)]="city"
    required
  />

  <select class="state-dropdown" [(ngModel)]="state" required>
    <!-- Dropdown menu for states goes here -->
    <option value="">State</option>
    <option>State 1</option>
    <option>State 2</option>
    <option>State 3</option>
  </select>

  <input
    class="zip"
    type="text"
    placeholder="Zip Code"
    [(ngModel)]="zipCode"
    required
  />
</div>

<div class="option-buttons">
  <button class="return-to-cart" (click)="gotoCartPage()">Return to Cart</button>
  <button class="continue-shipping" (click)="continueToShipping()">
    Continue to Shipping
  </button>
 

  <div class="error-messages" id="error-container">
    <div
      *ngIf="emailControl.hasError('email') && formSubmitted"
      class="error-message"
    >
      Please enter a valid email address
    </div>
    <div
    *ngIf="emailControl.hasError('required') && formSubmitted"
    class="error-message"
  >
    Please enter an email address
  </div>
    <div *ngIf="isFieldInvalid('country')" class="error-message">
      Please select a country
    </div>
    <div *ngIf="isFieldInvalid('firstName')" class="error-message">
      Please enter your first name
    </div>
    <div *ngIf="isFieldInvalid('lastName')" class="error-message">
      Please enter your last name
    </div>
    <div *ngIf="isFieldInvalid('address')" class="error-message">
      Please enter your address
    </div>
    <div *ngIf="isFieldInvalid('city')" class="error-message">
      Please enter your city
    </div>
    <div *ngIf="isFieldInvalid('state')" class="error-message">
      Please select a state
    </div>
    <div *ngIf="isFieldInvalid('zipCode')" class="error-message">
      Please enter a valid zip code
    </div>
  </div>
</div>

<div class="shipping-info">
  <div class="cart-items-container" *ngIf="cartItems.length > 0">
    <ul>
      <li *ngFor="let cartItem of cartItems">
        <div class="item-details">
          <img class="item-image" [src]="sanitizeImageUrl(cartItem.itemPic)" />
          <div class="item-info">
            <p class="item-name">{{ cartItem.itemname }}</p>
          </div>
          <p class="item-price">
            ${{ cartItem.price }} X {{ cartItem.quantity }}
          </p>
        </div>
        <p class="item-subtotal">
          ${{ cartItem.price * cartItem.quantity | number : "1.2-2" }}
        </p>
      </li>
    </ul>
  </div>
  <div class="cart-total-container" *ngIf="cartItems.length > 0">
    <div class="cart-total">
      <p>Subtotal: {{ calculateTotalPrice() | number : "1.2-2" }}</p>
      <p>Shipping: {{ calculateShipping() | number : "1.2-2" }}</p>
      <p>Tax: {{ calculateTax() | number : "1.2-2" }}</p>
      <p class="post-total">
        Total:
        {{ calculatePostTotal() | number : "1.2-2" }}
      </p>
    </div>
  </div>
</div>
