<div class="all">

<div class="BackgroundImage">
  <h1>Welcome to Our Store!</h1>
  <p>Discover our amazing collection of products.</p>
</div>

<div class="Pictures" *ngIf="items">
  <div class="featured-tag">
    <h4>Featured Clothing</h4>
    <div class="line"></div>
  </div>
  <div class="ImageGrid">
    <ng-container *ngFor="let item of items">
      <div class="ImageBox"
           (mouseenter)="onMouseEnter(item)"
           (mouseleave)="onMouseLeave(item)"
           (click)="navigateToItemDetail(item.itemName)"
           >
        <img class="ItemImage" [src]="sanitizeImageUrl(item.image)" />
        <p *ngIf="!item.showSizes" class="ItemName">{{ getDisplayItemName(item) }}</p>

        <p *ngIf="!item.showSizes" class="itemPrice">${{ item.price }}</p>
        <div *ngIf="item.showSizes">
          <button class="sizebutton" *ngFor="let size of Sizes" (click)="createCartItem(item.itemName, item.color, item.sex, size)">{{ size }}</button>
        </div>
      </div>
    </ng-container>
  </div>
  <div class="Popup" *ngIf="showAddedToCartPopup">
    <p>{{ addedItemName }} added to cart!</p>
  </div>
</div> 


</div>