<div class="shipping-info">
    <div class="cart-items-container" *ngIf="cartItems.length > 0">
      <ul>
        <li *ngFor="let cartItem of cartItems" class="cart-item"
    (mouseenter)="hoveredCartItem = cartItem"
    (mouseleave)="hoveredCartItem = null">
          <div class="item-details">
            <img class="item-image" [src]="sanitizeImageUrl(cartItem.itemPic)" />
            <div class="item-info">
              <p class="item-name">{{ cartItem.itemname }}</p>
            </div>
            <p class="item-price">
              ${{ cartItem.price }} X {{ cartItem.quantity }}
            </p>
            <button class="delete-button" (click)="deleteCartItem(cartItem)" *ngIf="hoveredCartItem === cartItem">
                Delete
              </button>
          </div>
          <p class="item-subtotal">
            ${{ cartItem.price * cartItem.quantity | number : "1.2-2" }}
          </p>
        </li>
      </ul>
    </div>
    <div class="cart-total-container" *ngIf="cartItems.length > 0">
      <div class="cart-total">
        <p>Subtotal: {{ calculateTotalPrice() | number : "1.2-2" }}</p>
      </div>
    </div>
    <button class="checkout-button" routerLink="/checkout">Go to Checkout</button>
  </div>
  